

.cropped1 {
    width: 1115px; 
    height: 150px; 
    object-fit: cover;
    }
.etiquetas{
    background-color: #C5DAED;
    color: #073A6A;
    border: none;
}
h1{
    font-size: 16px;
}
h3{
    font-size: 14px;
}    
h5{
    font-size: 16px;
}    
h6{
    font-size: 14px;
}

hr{
    height:3px;
    border-width:0;
    color: #073a6a;
     background-color:#073a6a
}

.fa-plus{
    color: #073a6a;
    font-size: 22px;
}

.card-link{
    text-decoration: none;
    color: #073a6a;
    font-weight: bold;
}
.card-link2{
    text-decoration: none;
    color: #9dbedd;
    font-weight: bold;
}


.card-img-overlay {
    background-color: rgba(#000, 0.6);
  }

.Clase{
    background-color: rgb(19, 80, 116);
}